.notification_button{
    position: fixed;
    top: 15px;
    right: 15px;
    text-decoration: none;
    color: #636060;
}

.notification_button:hover{
    color: #000;
}

.material-icons.miCSS { 
	font-size: 48px;
}

aside{
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: #636060;
}

ul{
    padding-left: 0;
}

.main_menu li{
    border-bottom: 1px #fff solid;
    list-style: none;
}

.main_menu a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    background-color: #636060;
    padding: 20px 0px 20px 10px;
    display: block;
}

.main_menu a:hover{
    background-color: black;
}