<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if error != null %}
    <p>{{error}}</p>
    {% endif %}
    <form action="{{url_for('admin.admin_login')}}" method="post">
        ID<input type="text" name="id" value="{{id}}">
        password<input type="password" name="password">
        <button type="submit">ログイン</button>
    </form>
    <a href="{{url_for('user.register_form')}}">新規登録</a>
</body>
</html>