{% extends "form_layout.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='/css/form.css')}}">
{% endblock %}

{% block content %}
<div class="main">
    {% if error != null %}
        <p>{{error}}</p>
    {% endif %}
    <form action="{{url_for('admin.admin_login')}}" method="post">
        ID<input type="text" name="id" value="{{id}}">
        password<input type="password" name="password">
        <button type="submit">ログイン</button>
    </form>
</div>
{% endblock %}