<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/form_layout.css')}}">
{% block css %}
    
{% endblock %}
    <title>Document</title>
</head>
<body>
    <div class="triangle_upper_right"></div>
    <div class="triangle_upper_left"></div>
    <div class="triangle_lower_right"></div>
    <div class="triangle_lower_left"></div>
{% block content %}
    
{% endblock %}
</body>
</html>