{% extends "main_layout.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='/css/home.css')}}">
{% endblock %}

{% block content %}
<div class="main">
    <a href="{{url_for('task_practice_list')}}" class="task_practice_button">タスク管理の練習をする</a>
    <div class="wrapper">
        <h1 id="c_header"></h1>
        <div id="next-prev-button">
            <button id="prev" onclick="prev()">‹</button>
            <button id="next" onclick="next()">›</button>
        </div>
        <div id="calendar"></div>
    </div>

    <div>
        <h1 class="task_title">締め切りが近いタスク一覧</h1>
        <div>
            <p class="item taskname">タスク名</p>
            <p class="item taskdate taskline">期限</p>
            <p class="item progress taskline">進行度</p>
        </div>
        <div class="task_item">
            <p class="item taskname">タスク名</p>
            <p class="item taskdate">xxxx/xx/xx<br>〇日</p>
            <p class="item progress">進行中</p>
        </div>
        <div class="task_item">
            <p class="item taskname">タスク名</p>
            <p class="item taskdate">xxxx/xx/xx<br>〇日</p>
            <p class="item progress">進行中</p>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
{% endblock %}