{% extends "form_layout.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='/css/form.css')}}">
{% endblock %}

{% block content %}
<div class="main">
    <h3>ログイン画面</h3>
    {% if error != null %}
    <p style="color:red">{{error}}</p>
    {% endif %}

    {% if msg != null %}
    <p style="color:blue">{{msg}}</p>
    {%  endif %}

    <form action="{{url_for('user.login')}}" method="post">
        メールアドレス：<input type="text" name="mail"><br>
        パスワード：<input type="password" name="password"><br>
    <button type="submit">ログイン</button>
    </form>
    <a href="{{url_for('user.register_form')}}">新規登録</a>
</div>
{% endblock %}