{% extends "form_layout.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='/css/form.css')}}">
{% endblock %}

{% block content %}
<div class="main">
    <h2>タスク管理システムログイン</h2>
    {% if error != null %}
    <p style="color:red">{{error}}</p>
    {% endif %}

    {% if msg != null %}
    <p style="color:blue">{{msg}}</p>
    {%  endif %}

    <a href="{{url_for('user.register_form')}}" class="loginurl">新規登録はこちら　＞</a>
    <form action="{{url_for('user.login')}}" method="post" class="loginform">
        <input type="text" name="mail" placeholder="メールアドレス"value = {{mail}}>
        <input type="password" name="password" placeholder="パスワード">
    <button type="submit" class="loginbutton">ログイン</button>
    </form>
</div>
{% endblock %}