<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/main_layout.css')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% block css %}
    
{% endblock %}
    <title>タスク管理システム</title>
</head>
<body>
    <a href="{{url_for('notification')}}" class="material-icons miCSS notification_button">notifications</a>
    <aside>
        <ul class="main_menu">
            <li><a href="">ユーザ名</a></li>
            <li><a href="{{url_for('user.logout')}}">ログアウト</a></li>
            <li><a href="">ホーム</a></li>
            <li><a href="">タスク一覧</a></li>
            <li><a href="">チーム一覧</a></li>
            <li><a href="">タスク管理練習</a></li>
        </ul>
    </aside>
{% block content %}
    
{% endblock %}
</body>
</html>