<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>ユーザー登録画面</h3>
    {% if error != null%}
    {% for error in error %}
    <p style="color:red">{{error}}</p>
    {% endfor %}
    {% endif %}

    <form action="{{url_for('user.register_exe')}}" method="post">
        ユーザー名：<input type="text" name="username" value="{{user_name}}"><br>
        メールアドレス：<input type="text" name="mail" value="{{mail}}"><br>
        パスワード：<input type="password" name="password"value="{{password}}"><br>
        パスワード(確認用）：<input type="password" name="password2"value="{{password2}}"><br>
        <button type="submit">登録</button>
    </form>
</body>
</html>