{% extends "form_layout.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='/css/form.css')}}">
{% endblock %}

{% block content %}
<div class="main">
    <h2>タスク管理システム新規登録</h2>
    {% if error != null%}
    {% for error in error %}
    <p style="color:red">{{error}}</p>
    {% endfor %}
    {% endif %}

    <a href="" class="loginurl">ログインはこちら　＞</a>
    <form action="{{url_for('user.register_exe')}}" method="post" class="loginform">
        <input type="text" name="username" value="{{user_name}}" placeholder="ユーザー名">
        <input type="text" name="mail" value="{{mail}}" placeholder="メールアドレス">
        <input type="password" name="password"value="{{password}}" placeholder="パスワード">
        <input type="password" name="password2"value="{{password2}}" placeholder="パスワード(確認用）">
        <button type="submit" class="loginbutton">新規登録</button>
    </form>
</div>
{% endblock %}