<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>タスク追加</title>
</head>
<body>
    <h2>タスク追加</h2>
    <form action="{{url_for('task.')}}" method="post">
        <label>タスク名</label><input type="text" id="name" name="name">
        <label>タスク分類名</label><select name="example" id="category">
            {% for cate in category%}
            <option value="{{cate[0]}}">{{cate[1]}}</option>
            {% endfor %}
        </select>
        <label>期限</label><input name="date" type="date" id="deadline">
        <label>進行度</label><select name="prog" id="progres">
            <option value="1">計画中</option>
            <option value="2">進行中</option>
            <option value="3">完了</option>
            <option value="4">修正中</option>
        </select>
        <input type="submit" value="追加">
    </form>
</body>
</html>