<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/task_practice.css')}}">
    <title>タスク管理システム</title>
</head>
<body>
    <a href="{{url_for('task.task_practice_list')}}" class="cancel_button">◀ 中止する</a>
    <div class="q_main">
        <div class="score">
            <p>スコア</p>
            <div class="score_point">
                <p class="user_score_point">{{user_score}}</p><div class="score_line"></div><p class="answer_score_point">{{score}}</p>
            </div>
        </div>
        <p class="task_list_title question">Q．右のアイテムに優先順位を決めて左に並び替えよう。</p>
        <div class="q1_answer">
            <p class="q1_answer_title">答え</p>
            {% for an in answer %}
                <p class="q1_answer_item">{{an[2]}}</p>
            {% endfor %}
        </div>
        <div class="q1_user_answer">
            <p class="q1_answer_title">貴方の答え</p>
            {% for user_a in user_answer %}
                <p class="q1_answer_item">{{user_a[2]}}</p>
            {% endfor %}
        </div>
    </div>
    <form action="{{url_for('task.task_practice_q2')}}" class="" method="post">
        <input type="hidden" name="q" value="{{task_q}}">
        <input type="submit" class="q1_answer_botton" value="次へ">
    </form>
</body>
</html>