<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/task_practice.css')}}">
    <title>タスク管理システム</title>
</head>
<body>
    <div class="task_data">
        <h1 class="task_list_title task_data_title">{{data[1]}}</h1>
        <div class="task_data_explanation">
            <p>◆ゴール<br>{{data[2]}}</p>
            <p>{{data[3]}}</p>
        </div>
        <div class="botton_center">
            <form action="{{url_for('task.task_practice_q1')}}" class="" method="post">
                <input type="hidden" name="data" value="{{data[0]}}">
                <input type="submit" class="q_end_botton" value="次へ">
            </form>
            <a href="{{url_for('task.task_practice_list')}}" class="return">戻る</a>
        </div>
    </div>
</body>
</html>