{% extends "main_layout.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='/css/task.css')}}">
{% endblock %}
{% block content %}
    <div class="main">
        <div class="task_title_box">
            <h1 class="task_title">タスク一覧</h1>
            <a href="" class="add_task_class">タスク分類追加</a>
        </div>
        <a href="{{url_for('task.task_register')}}">タスク追加さん</a>
        {% for t_class in task_classification %}
            <div onclick="obj=document.getElementById('open{{t_class[0]}}').style; obj.display=(obj.display=='none')?'block':'none';" class="list_task_title">
                <a style="cursor:pointer;">▼ {{t_class[1]}}</a>
                <a href="{{url_for('task.add_task')}}" class="add_task">タスク追加</a>
            </div>

            <div id="open{{t_class[0]}}" style="display:none;clear:both;" class="openbox">
                <div>
                    <p class="item taskname">タスク名</p>
                    <p class="item taskdate taskline">期限</p>
                    <p class="item progress taskline">進行度</p>
                </div>

            {% for task in  tasks%}
                {% for t in task%}
                    {% if t[2] != t_class[0] %}
                  
                    {% else %}
                    <div class="task_item">
                        <p class="item taskname">{{t[1]}}</p>
                        <p class="item taskdate">{{t[8].strftime('%Y/%m/%d')}}<br>
                            {% for d in days %}
                                {% if d[0] == t[0] %}
                                    {{d[1]}}日
                                {% endif %}
                            {% endfor %}
                        </p>
                            {%if t[5] == 1 %}
                            <p class="item progress1">計画中</p>
                            {%elif t[5] == 2%}
                            <p class="item progress2">進行中</p>
                            {%elif t[5] == 3%}
                            <p class="item progress3">完了</p>
                            {%elif t[5] == 4%}
                            <p class="item progress4">修正中</p>
                            {%endif%}
                    </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}