<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/task_practice.css')}}">
    <title>タスク管理システム</title>
</head>
<body>
    <a href="{{url_for('task_practice_list')}}" class="cancel_button">◀ 中止する</a>
    <div class="q_main">
        <div class="score">
            <p>スコア</p>
            <div class="score_point">
                <p class="user_score_point">10</p><div class="score_line"></div><p class="answer_score_point">40</p>
            </div>
        </div>
        <p class="task_list_title question">Q．右のアイテムに優先順位を決めて左に並び替えよう。</p>
        <div class="q1_answer">
            <p class="q1_answer_title">答え</p>
            <p class="q1_answer_item">答え1</p>
            <p class="q1_answer_item">答え2</p>
            <p class="q1_answer_item">答え3</p>
            <p class="q1_answer_item">答え4</p>
        </div>
        <div class="q1_user_answer">
            <p class="q1_answer_title">貴方の答え</p>
            <p class="q1_answer_item">利用者答え1</p>
            <p class="q1_answer_item">利用者答え2</p>
            <p class="q1_answer_item">利用者答え3</p>
            <p class="q1_answer_item">利用者答え4</p>
        </div>
    </div>
    <a href="" class="q1_answer_botton">次へ</a>
</body>
</html>