{% extends "sub_layout.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='/css/user_edit.css')}}">
<title>user_edit</title>
{% endblock %}
{% block content %}
<a href="{{url_for('user.home')}}" class="button">◀ 戻る</a>
<div class="main">
    <h2>利用者情報編集画面</h2>
    <form action="{{url_for('user.edit')}}" method="post">
        <table>
            <tr><td class="left"><label>名前</label></td><td class="right"><input type="text" id="name" name="name" value="{{user[2]}}"></td></tr>
            <tr><td class="left"><label>メールアドレス</label></td><td class="right"><input type="email" id="mail" name="mail" value="{{user[1]}}"></td></tr>
            <tr><td class="left"><label>パスワード</label></td><td class="right"><input type="password" id="pass1" name="pass1"></td></tr>
            <tr><td class="left"><label>パスワード(確認)</label></td><td class="right"><input type="password" id="pass2" name="pass2"></td></tr>
            <tr><td COLSPAN="2"><input type="submit" value="保存"></td></tr>
        </table>
    </form>
</div>
{% endblock %}


